*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.atl-login{
    width: 100%;
    min-height: 100vh;
    background-color: #131319;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}