.atl-button{
    color: #FFFFFF;
    background-color: #4A96FF;
    padding: 12px 36px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}