.atl-popup{
    max-width: 463px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    background: linear-gradient(#27292D, #27292D) padding-box, linear-gradient(129.59deg, #969696 0%, #343434 98.18%) border-box;
    border: 2px solid transparent;
    padding: 48px 24px;
    flex-direction: column;
    align-items: center;

    .atl-popup__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 44px;

        .atl-popup__heading{
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.94px;
            letter-spacing: 0.03em;
            color: #6B6C70;
        }
    
        .atl-popup__description{
            font-family: Inter, sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            color: #fff;
        }
    }

    .atl-popup__body{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .atl-popup__footer{
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        color: #C5C7CA;

        span{
            color: #7F8084;
        }
    }

    &.atl-popup--absolute{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .atl-popup__closeBtn{
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: #131319;
        width: 32px;
        height: 32px;
        color: #fff;
        border-radius: 50%;
        border: transparent;
    }
}

.atl-popup__wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: #00000080;
}